Source: huayra-duino-lr
Section: main
Priority: extra
Maintainer: Fernando Toledo <ragnarok@docksud.com.ar>
Build-Depends: debhelper (>= 10.0.0),
Standards-Version: 3.9.6
Homepage: http://huayra.conectarigualdad.gob.ar
Vcs-Git: https://github.com/HuayraLinux/HuayraDuino-LR.git

Package: huayra-duino-lr
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, arduino-installer (>= 1.1)
Description: HuayraDuino LR (La Rioja)
 Es un entorno de programacin visual para Arduino. Est basado en Blockly, 
 con modificaciones para poder generar cdigo Arduino.
 .
 Genera cdigo Arduino visualmente arrastrando y soltando bloques.
 Permite subir el programa a una placa Arduino.
 Es compatible con una gran cantidad de placas Arduino originales.
 .
 Este paquete contiene los datos de ayuda y el visor de los mismos.
 El visor permite que los archivos de ayuda puedan lanzar programas.
