[Desktop Entry]
Name=Huayra Duino [La Rioja]
Comment=Huayra Duino [La Rioja]
Exec=/usr/bin/huayraduino-lr
Terminal=false
Type=Application
Icon=huayraduino-lr
Categories=Huayra;Development;Electronics;GNOME;MATE
